<main
  class="h-screen w-screen flex flex-col items-center justify-center text-xl gap-4 p-2"
>
  <h1 class="text-3xl font-bold">{{ title }}</h1>
  <h2>Stack or Queue Items</h2>

  <label for="addItemInput">What would you like to do today?</label>

  <div class="flex flex-row gap-2">
    <input
      id="addItemInput"
      type="text"
      placeholder="TODO Task"
      class="border border-black p-2 rounded-md"
    />
    <button type="button" class="bg-blue-300 p-2 rounded-md">STACK Task</button>
    <button type="button" class="bg-green-300 p-2 rounded-md">
      QUEUE Task
    </button>
  </div>

  <ul>
    <li *ngFor="let item of items">- {{ item.description }}</li>
  </ul>
</main>
